{% extends 'index.html'%}
{% block title %} FAQ | Dinoclogeek {% endblock %}
{% block content %}
  <section class="seccion-faq">
    <div class="caja-faq">
      <h2>PREGUNTAS FRECUENTES</h2>
      <div class="faq">
        <h3 class="faq-pregunta"><i class="fas fa-caret-right"></i>¿Qué tipos de páginas web están disponibles para
          comprar?</h3>
        <div class="faq-respuesta">
          <p>Hay varios tipos de páginas web disponibles para comprar, incluyendo plantillas de sitios
            web pre-diseñadas, paquetes de sitios web personalizados y soluciones de construcción de
            sitios web en plataformas de construcción de sitios web.</p>
        </div>
      </div>
      <div class="faq">
        <h3 class="faq-pregunta"><i class="fas fa-caret-right"></i>¿Cuál es el costo de comprar una página web?</h3>
        <div class="faq-respuesta">
          <p>El costo de comprar una página web puede variar dependiendo del tipo de página web que desees,
            los requisitos funcionales, el diseño y la usabilidad, la seguridad, el rendimiento, el costo
            de alojamiento y el soporte.</p>
        </div>
      </div>
      <div class="faq">
        <h3 class="faq-pregunta"><i class="fas fa-caret-right"></i>¿Qué consideraciones debo tener en cuenta al comprar
          una página web?</h3>
        <div class="faq-respuesta">
          <p>Al comprar una página web, es importante considerar tu presupuesto, los requisitos funcionales,
            el diseño y la usabilidad, la seguridad, el rendimiento, el costo de alojamiento, la escalabilidad
            y el soporte.</p>
        </div>
      </div>
      <div class="faq">
        <h3 class="faq-pregunta"><i class="fas fa-caret-right"></i>¿Cómo puedo asegurarme de que la página web que
          compro esté actualizada y segura?</h3>
        <div class="faq-respuesta">
          <p>Puedes asegurarte de que tu página web esté actualizada y segura mediante la suscripción a un
            servicio de mantenimiento y seguridad, o mediante la contratación de un equipo de profesionales
            para realizar estas tareas.</p>
        </div>
      </div>
      <div class="faq">
        <h3 class="faq-pregunta"><i class="fas fa-caret-right"></i>¿Cómo puedo personalizar mi página web una vez que la
          he comprado?</h3>
        <div class="faq-respuesta">
          <p>La personalización de tu página web depende del tipo de página web que hayas comprado.
            Algunas plantillas o paquetes de sitios web pre-diseñados pueden permitir una cierta personalización,
            mientras que otros pueden requerir habilidades de desarrollo para realizar cambios.</p>
        </div>
      </div>
      <div class="faq">
        <h3 class="faq-pregunta"><i class="fas fa-caret-right"></i>¿Cómo puedo obtener soporte técnico para mi página
          web después de comprarla?</h3>
        <div class="faq-respuesta">
          <p>Puedes obtener soporte técnico para tu página web mediante la contratación de un equipo de
            profesionales o mediante la suscripción a un servicio de soporte.</p>
        </div>
      </div>
      <div class="faq">
        <h3 class="faq-pregunta"><i class="fas fa-caret-right"></i>¿Cómo puedo medir el rendimiento y el éxito de mi
          página web?</h3>
        <div class="faq-respuesta">
          <p>Puedes medir el rendimiento y el éxito de tu página web utilizando herramientas de análisis de
            sitios web, como Google Analytics, para recopilar datos sobre las visitas a tu sitio,
            el comportamiento del usuario y las conversiones.</p>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
