footer {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('../SVG/footer-background.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.btn-whatsapp {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    width: 4.2vw;
    height: 4.2vw;
}

.btn-whatsapp>a {
    background-color: rgb(37, 211, 102);
    text-decoration: none;
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-whatsapp>a>i {
    font-size: 1.8em;
    color: white;
}

.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 60%;
    padding: 9vw 0 3vw 0;
}
.footer-contact-us{
    width: fit-content;

}
.footer-contact-us img{
    width: 9vw;
    padding: 3vw 0;
    display: block;
    margin: auto;
}
.footer-contact-us button{
    color: white;
    border: 1.5px solid white;
    background-color: var(--color-principal);
    display: block;
    margin: auto;
    padding: 1vw 3vw;
}
.footer-contact-us a{
    text-decoration: none;
}
.footer-contact-us button:hover{
    background-color: beige;
    color: var(--color-principal);
}
.footer-contact-us button:active{
    transform: scale(90%);
}
.footer-nav{
    padding: 1vw;
    border-right: 3px solid white;
}
.footer-nav nav ul{
    list-style: none;
}
.footer-nav nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
.footer-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social{
    color: white;
}
.footer-social i{
    padding: 1vw;
    font-size: 1.2em;
}
.copyright{
    font-size: .81em;
    padding: 1vw 0;
    background-color: var(--color-principal);
    color: gainsboro;
    text-align: center;
}
/*Tblets*/
@media screen and (max-width:970px) and (min-width:670px) {
    .btn-whatsapp{
        width: 7.2vw;
        height: 7.2vw;
    }
    .btn-whatsapp a{
        width: 7.2vw;
        height: 7.2vw;
    }
    .footer-section{
        width: 72vw;
    }
    .footer-contact-us img{
        width: 12vw;
    }
}
/*Movil*/
@media screen and (max-width: 670px) and (min-width:100px) {
    .btn-whatsapp{
        width: 10vw;
        height: 10vw;
    }
    .btn-whatsapp a{
        width: 10vw;
        height: 10vw;
    }

    .footer-section{
        display: block;
    }
    .footer-contact-us{
        width: 100%;
        margin-bottom: 9vw;
    }
    .footer-contact-us img{
        width: 20vw;
    }
    .footer-contact-us button{
        padding: 3vw 0;
        width: 80%;
    }
}