{% extends 'index.html'%}
{% block title %} Paquetes | Dinoclogeek {% endblock %}
{% block content %}
<!--SECCION SERVICIOS-->
<article class="service-article">
<h1>Diseño y Desarrollo Web</h1>
  <p>Si estás buscando <strong>comprar un sitio web</strong>,  ya sea para tu negocio o para ti mismo, probablemente te hayas preguntado cuál
  es la mejor opción: <strong>¿diseño web con plantilla o diseño web personalizado?</strong></p><br>

  <p>La respuesta es que <strong>depende de tus necesidades y presupuesto.</strong></p><br>

  <p>El <strong>diseño web con plantilla</strong> es una excelente opción para aquellos que buscan una <strong>solución rápida y asequible</strong>. Las
  plantillas ofrecen una amplia variedad de diseños y estilos para elegir, lo que significa que puedes encontrar una que
  se adapte a tu estilo y necesidades. Además, la instalación y configuración de una plantilla es relativamente
  sencilla, lo que significa que puedes tener tu <strong>sitio web en funcionamiento en poco tiempo.</strong></p><br>

  <p>Sin embargo, el <strong>diseño web a la medida</strong> es la opción adecuada para aquellos que buscan una solución más personalizada y
  única. Al trabajar con un <strong>diseñador web</strong>, puedes crear un <strong>sitio web a la medida</strong> que se adapte perfectamente a tus
  necesidades y refleje la personalidad de tu marca. Además, un <strong>sitio web a medida</strong> te permite tener un mayor control
  sobre la funcionalidad y características del sitio web, lo que significa que puedes crear una experiencia de usuario
  más fluida y personalizada.</p><br>

  <p>En última instancia, la elección entre <strong>diseño web con plantilla y diseño web a la medida</strong> depende de tus necesidades y
  presupuesto. Si estás buscando una solución rápida y asequible, el diseño web con plantilla es la opción adecuada para
  ti. Si estás buscando un sitio web más personalizado y único, el diseño web a medida es la opción adecuada para ti. En
  cualquier caso, asegúrate de trabajar con un <strong>diseñador web profesional y experimentado</strong> que pueda ayudarte a crear el
  sitio web perfecto para ti o tu negocio.</p><br>
</article>
<section class="paquetes-section" id="2">
  <div class="paquete">
    <div class="cabecera-paquete ">
      <h2>WEB BÁSICA</h2>
      <p>¡Escoge entre cientos de plantillas!</p>
      <h3><sup>$</sup>5,700<span>mxn</span></h3>
    </div>
    <div class="cuerpo-paquete">
      <ul>
        <li>Diseño adaptable para diferentes tamaños de pantalla (Computadores, Tablets, Móviles).</li>
        <li>Formulario de contacto y ubicación.</li>
        <li>Galeria de fotos y vinculación a redes sociales.</li>
        <li>Sitio web de hasta de 5 páginas.</li>
        <li>Botón de chat para WhatsApp.</li>
        <li>Certificado de seguridad SSL.</li>
        <li>Dominio incluido por el primer año.Despues $500/anuales.</li>
        <li>Primer año de hospedaje web gratuito. Despues $1.500/anuales.</li>
      </ul>
    </div>
  </div>
  <div class="paquete">
    <div class="cabecera-paquete">
      <h2>WEB A LA MEDIDA</h2>
      <p>¡Presencia en linea personalizada!</p>
      <h3><sup>$</sup>11,700<span>mxn</span></h3>
    </div>
    <div class="cuerpo-paquete">
      <ul>
        <li>Todo lo del paquete web básico, más:</li>
        <li>Interfaz de usuario a la medida</li>
        <li>Lite Speed Caché</li>
        <li>Sitio web de hasta 11 páginas.</li>
        <li>Animaciones JavaScript</li>
        <li>Primer mes de soporte y mantenimiento incluido.</li>
        <li>Optimización de recuros para mejorar tiempos de carga.</li>
        <li>Configuración de correos electronicos corporativos @sudominio.com</li>
      </ul>
    </div>
  </div>
  <div class="paquete">
    <div class="cabecera-paquete">
      <h2>TU TIENDA EN LINEA</h2>
      <p>¡Automatiza tus ventas!</p>
      <h3><sup>$</sup>21,900<span>mxn</span></h3>
    </div>
    <div class="cuerpo-paquete">
      <ul>
        <li>Todo lo del paquete web básico, todo lo del paquete web a la medida; más:</li>
        <li>Creacion de carrito de ventas.</li>
        <li>Panel de administración.</li>
        <li>Implementación de base de datos.</li>
        <li>Primer auditoria SEO incluida</li>
      </ul>
    </div>
  </div>
</section>
<!--SECCION METODOLOGÍA-->
  <section class="metodologia-section">
    <table>
      <caption>¿CÓMO ES EL PROCESO?</caption>
      <tr>
        <td>
          <div class="padre-circulo">
            <div class="circulo">1</div>
          </div>
        </td>
        <td><span>Planificación</span><br>Reunión con el cliente para discutir los objetivos del proyecto y
          establecer un marco de trabajo.</td>
      </tr>
      <tr>
        <td>
          <div class="padre-circulo">
            <div class="circulo">2</div>
          </div>
        </td>
        <td><span>Diseño</span><br>Plan detallado para cada iteración del proyecto.</td>
      </tr>
      <tr>
        <td>
          <div class="padre-circulo">
            <div class="circulo">3</div>
          </div>
        </td>
        <td><span>Desarrollo</span><br>Se incia a desarrollar el proyecto, entregando pequeñas porciones de manera
          regular.</td>
      </tr>
      <tr>
        <td>
          <div class="padre-circulo">
            <div class="circulo">4</div>
          </div>
        </td>
        <td><span>Retroalimentación</span><br>El cliente proporciona retroalimentación sobre lo entregado y se ajusta
          el enfoque del proyecto en consecuencia.</td>
      </tr>
      <tr>
        <td>
          <div class="padre-circulo">
            <div class="circulo">5</div>
          </div>
        </td>
        <td><span>Lanzamiento</span><br>Una vez que se han completado todas las iteraciones y se ha entregado todo el
          proyecto se lanza al público.</td>
      </tr>
    </table>
  </section>
{% endblock %}